.w3__body__discription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem 8rem;
}

.w3__body__discription p {
  font-family: var(--font-roboto);
  line-height: 1.6;
  font-size: 32px;
  color: #fff;
  opacity: .5;
}

.w3__body__discription b {
  color: var(--color-button);
}

.w3__body-title {
  text-align: center;
  z-index: 100;
}

.w3__body-title h3 {
  color: #fff;
  font-family: var(--font-cursive);
  line-height: 0.8;
  font-size: 4em;
  letter-spacing: 0.04em;
  font-weight: light;
}

.w3__body-title img {
  rotate: -2deg;
  position: relative;
  top: -20px;
  width: 100%;
}

@media screen and (max-width:900px) {
  .w3__body__discription {
    padding: 1rem 3rem;
  }
}
@media screen and (max-width:550px) {
  .w3__body__discription {
    padding: 0rem 2rem;

  }

  .w3__body__discription p{
    font-size: 24px;
  }

  .w3__body-title h3 {
    font-size: 2rem;
  }
}
