*, *::after, *::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
}

a {
  text-decoration: none;
  color: unset;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.gradient-bg {
/* ff 3.6+ */
background:-moz-radial-gradient(circle at 4% 97%, rgba(2, 21, 84, 1) 0%, rgba(39, 70, 74, 1) 42%, rgba(55, 133, 71, 1) 73%, rgba(129, 183, 62, 1) 90%, rgba(226, 185, 78, 1) 100%);

/* safari 5.1+,chrome 10+ */
background:-webkit-radial-gradient(circle at 4% 97%, rgba(2, 21, 84, 1) 0%, rgba(39, 70, 74, 1) 42%, rgba(55, 133, 71, 1) 73%, rgba(129, 183, 62, 1) 90%, rgba(226, 185, 78, 1) 100%);

/* opera 11.10+ */
background:-o-radial-gradient(circle at 4% 97%, rgba(2, 21, 84, 1) 0%, rgba(39, 70, 74, 1) 42%, rgba(55, 133, 71, 1) 73%, rgba(129, 183, 62, 1) 90%, rgba(226, 185, 78, 1) 100%);

/* ie 10+ */
background:-ms-radial-gradient(circle at 4% 97%, rgba(2, 21, 84, 1) 0%, rgba(39, 70, 74, 1) 42%, rgba(55, 133, 71, 1) 73%, rgba(129, 183, 62, 1) 90%, rgba(226, 185, 78, 1) 100%);

/* global 92%+ browsers support */
background:radial-gradient(circle at 4% 97%, rgba(2, 21, 84, 1) 0%, rgba(39, 70, 74, 1) 42%, rgba(55, 133, 71, 1) 73%, rgba(129, 183, 62, 1) 90%, rgba(226, 185, 78, 1) 100%);

}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 3rem 5rem;
  }
  .section__margin {
    margin: 3rem 5rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
